/*
|------------------------------------------------------------
| Root variables
|------------------------------------------------------------
*/

:root {
    --trans-background: rgba(0, 0, 0, 0.88);
    --background-hover: rgba(78, 78, 78, 0.204);
    --text-main: rgb(203, 203, 203);
    --text-soft: rgba(179, 179, 179, 0.73);
    --text-hv: white;
    --border: 1px solid var(--text-main);
    font-size: 16px;
}

/*
|------------------------------------------------------------
| Fonts
|------------------------------------------------------------
*/

body,
select,
input,
textarea,
button,
address,
.fillable:-webkit-autofill {
    font-family: Inter, system-ui, sans-serif;
    letter-spacing: .2px;
    line-height: 1.12;
}

body,
button,
kbd {
    color: var(--text-main);
}

a {
    text-decoration: none;
    color: var(--text-main);
}

a:hover {
    color: var(--text-hv);
}

address {
    font-style: normal;
}


/*
|------------------------------------------------------------
| Universal reset
|------------------------------------------------------------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

/*
|------------------------------------------------------------
| Customized CSS remedy
|------------------------------------------------------------
*/

::before,
::after {
    box-sizing: border-box;
}

button {
    outline: none;
}

html {
    line-sizing: normal;
}

[hidden] {
    display: none;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.17rem;
}

h4 {
    font-size: 1.00rem;
}

h5 {
    font-size: 0.83rem;
}

h6 {
    font-size: 0.67rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

pre {
    white-space: pre-wrap;
}

hr {
    border-style: solid;
    border-width: 1px 0 0;
    color: inherit;
    height: 0;
    overflow: visible;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
    max-width: 100%;
}

audio:not([controls]) {
    display: none;
}

picture {
    display: contents;
}

source {
    display: none;
}

img,
svg,
video,
canvas {
    height: auto;
}

audio {
    width: 100%;
}

img {
    border-style: none;
}

svg {
    overflow: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

[type='checkbox'],
[type='radio'] {
    box-sizing: border-box;
    padding: 0;
}

body::-webkit-scrollbar, p::-webkit-scrollbar {

    width: .5em;

}

/*
|------------------------------------------------------------
| Scrollbar
|------------------------------------------------------------
*/

body::-webkit-scrollbar-track, p::-webkit-scrollbar-track {

    background-image: linear-gradient(to bottom, #22279c, #22279c, #22279c, #a58eff, #a58eff, #a58eff, #5a56d2, #201966, #201966, #201966, #201966);

}

body::-webkit-scrollbar-thumb {

    background-color: rgba(0, 0, 0, 0.656);

}

body::-webkit-scrollbar-thumb:hover {

    background-color: rgba(0, 0, 0, 0.798);

}

/*
|------------------------------------------------------------
| Utilities
|------------------------------------------------------------
*/

.fill-height {
    height: 100%;
}

.fill-width {
    width: 100%;
}

.flex-r {
    display: flex;
}

.flex-c {
    display: flex;
    flex-direction: column;
}

.f-al-cent {
    align-items: center;
}

.f-al-strt {
    align-items: flex-start;
}

.f-just-bet {
    justify-content: space-between;
}

.f-just-cent {
    justify-content: center;
}

.f-just-eve {
    justify-content: space-evenly;
}

.fillable {
    outline: none;
    padding: .4rem .6rem;
    background-color: var(--trans-background);
}

.fillable:-webkit-autofill {
    outline: none !important;
    padding: .4rem .6rem !important;
    background-color: var(--trans-background) !important;
    border: 1px solid white !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s !important;
}

.fillable:hover,
.fillable:focus,
.fillable:-webkit-autofill:hover,
.fillable:-webkit-autofill:focus,
.fillable:-webkit-autofill:active {
    background-color: var(--background-hover) !important;
}

.btn {
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: var(--border);
    color: var(--text-main);
}

/*
|------------------------------------------------------------
| Body
|------------------------------------------------------------
*/

body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
}

.body-container {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: var(--trans-background);
}

/*
|------------------------------------------------------------
| Header
|------------------------------------------------------------
*/

header {
    background-color: var(--trans-background);
    height: 12rem;
    border: var(--border);
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.logo{
    margin-left: auto;
    margin-right: auto;
    height: 70%;
    font-size: 3.3rem;
    font-weight: 600;
}

nav {
    height: 30%;
    border-top: var(--border);
}

.topnav > li:not(:last-child) {
    border-right: var(--border);
}

.topnav {
    list-style-type: none;
    width: 100%;
}

.topnav-item {
    width: 20%;
}

.topnav-item:hover,
.topnav-item--v:hover,
.hamburger:hover {
    background-color: var(--background-hover);
}

.topnav-item a:hover,
.topnav-item--v a:hover,
.hamburger:hover {
    color: white;
}

.topnav-item a {
    font-size: 1.3rem;
}

/*
|------------------------------------------------------------
| Sidebars
|------------------------------------------------------------
*/

.sidebar {
    border-left: var(--border);
    border-right: var(--border);
    width: 15vw;
}

/*
|------------------------------------------------------------
| Sidebar right
|------------------------------------------------------------
*/

.sd-right {
    padding: .7rem;
}

.searchbar {
    width: 10.5vw;
    padding: .21rem;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    color: white;
    font-size: .9rem;
    float: left;
    margin-bottom: max(2vw, 15px);
}

.searchbar:hover {
    background-color: var(--background-hover);
}

.searchbar:focus {
    background-color: var(--background-hover);
}

.search button {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    border-left: none;
    font-size: .9rem;
    padding: .26rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.search button:hover {
    background-color: var(--background-hover);
}

form.search::after {

    content: "";
    clear: both;
    display: table;

}

.archive-container {

    width: 100%;
    padding: .6rem;

}

/*
|------------------------------------------------------------
| Sidebar left
|------------------------------------------------------------
*/

.sd-left {
    padding-top: 5rem
}

.sb-links:first-child {
    border-top: var(--border);
}

.sb-links {
    padding: 1.15rem 0;
    font-weight: 500;
    cursor: pointer;
    border-bottom: var(--border);
}

.sb-links:hover {
    background-color: var(--background-hover);
}

/*
|------------------------------------------------------------
| ???
|------------------------------------------------------------
*/


.results {

    margin-bottom: max(.3vw, 4px);
    font-size: 1.1rem;
    color: var(--text-lesser);

}

.content {

    width: 60vw;
    
}

.content p a {

    color: white;
    text-decoration: underline;

}

.footer-container {

    background-color: var(--trans-background);
    height: 60px;
    border: 1px solid white;

}

.listed-post, .login, .admin-post, .edit-post, .new-post, .search-title {

    height: auto;
    margin: 1vw;
    padding-top: .5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.upload-form {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

}

.upload-form input, .upload-form textarea {

    margin-bottom: 1vw;
    padding: .4rem;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    color: white;
    outline: none;
    resize: none;
    height: auto;
    

}

.upload-form textarea {

    height: 40vh;
    font-size: .9rem;
    font-family: Arial, Helvetica, sans-serif;

}

.upload-form input:focus, .upload-form textarea:focus,
.upload-form input:hover, .upload-form textarea:hover {

    background-color: var(--background-hover);

}

.upload-form .wide {

    width: 100%;

}

.listed-post:hover {

    background-color: var(--background-hover);

}

.admin-buttons {

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: max(.6vw, 5px);
    margin-bottom: 1vw;

}

.admin-function {

    border: 1px solid white;
    color: white;
    padding: .4rem;
    width: 5rem;
    text-align: center;

}

.admin-function:hover {

    background-color: var(--background-hover);

}

.single-post {

    height: auto;
    margin: 1vw;
    padding-top: .5vw;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.listed-post-link:hover {

    text-decoration: underline;
    text-decoration-color: white;

}

.listed-post-link:hover .listed-post-date{

    text-decoration: none;

}

.listed-post-date {

    font-size: .88rem;
    color: rgba(255, 255, 255, 0.591);
    margin-bottom: .2rem;
    text-align: center;
    
}

.listed-post-title, .login-title, .admin-post-title {

    font-size: 1.7rem;
    font-weight: bold;
    color: white;
    margin-bottom: .6rem;
    text-align: center;

}

.listed-post-subtitle {

    font-size: 1.1rem;
    color: white;
    margin-bottom: .5rem;
    text-align: center;
    
}

.listed-post-thumb {

    height: max(25vw, 100px);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .75rem;

}

.single-post-thumb {

    height: max(25vw, 100px);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.2rem;

}

.listed-post-extract {

    font-size: 1rem;
    color: white;
    text-align: center;
    margin-bottom: .75rem;

}

.login form {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

}

.login-form input[type="text"],
.login-form input[type="password"] {

    border: 1px solid white;
    padding: 10px;
    margin: 0 max(3vw, 10px) max(1.8vw, 10px) max(3vw, 10px);
    width: max(30vw, 40px);
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0);
    color: white;

}

.login-form input:hover {

    background-color: var(--background-hover);

}

.login-form input:focus {

    background-color: var(--background-hover);
    
}

.login-form input[type="submit"] {

    border: 2px solid white;
    padding: 6px;
    width: max(20vw, 40px);
    margin-bottom: max(1.8vw, 10px);
    font-size: 1.4rem;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    cursor: pointer;

}

.login-form input[type="submit"]:hover {

    background-color: var(--background-hover);

}

.single-content {

    font-size: 1rem;
    color: white;
    text-align: left;
    margin-bottom: .75rem;
    width: 100%;

}

.continue {

    font-size: 1rem;
    color: rgba(255, 255, 255, 0.73);
    text-align: center;
    margin-bottom: .75rem;

}

.continue:hover {

    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.73);

}

.post-separator {

    color: white;
    width: 100%;

}

.paginacion {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vw;
    user-select: none;

}

.paginacion ul {
    border: 1px solid white;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.paginacion li {

    background-color: rgba(0, 0, 0, 0);
    font-size: 1.4rem;
    padding: 3px 7px;
    cursor: pointer;
    color: white;
    border-right: 1px solid white;

}

.paginacion a {

    color: white;

}

.paginacion li:hover{

    background-color: var(--background-hover);

}

.paginacion ul .active {

    box-shadow: 0px 2px 4px white, 0px -2px 4px white;
    background-color: var(--background-hover);

}

.paginacion ul .disabled {

    cursor: not-allowed;

}

.admin-btns {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vw;

}

.new-btn, .logout-btn {

    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: max(.38vw, 3px);
    width: 9vw;
    font-size: 1rem;
    text-align: center;

}

.new-btn:hover, .logout-btn:hover {

    background-color: var(--background-hover);

}

.new-btn {

    margin-right: 1vw;

}